.page-main.companies
{
	.page-head
	{        
		.content
		{
			max-width: 1200px;
			padding-bottom: 7em;
			padding-left: 0;
			padding-right: 0;
			margin: 0 auto;
			width: 90%;
            
            @media @phone
            {
                width: 100%;
                padding-left: @content_padding;
                padding-right: @content_padding;
            }

			.count
			{
				color: @c_green;
				font-weight: normal;
			}
		}
	}    
    
	.filters
	{
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;        
		margin-top: -50px;
		background: @c_white;
		.drop-shadow(0px, 1px, 30px, -3px, 0.15);
		position: relative;
		z-index: 3;
            
        @media @phone
        {
            width: calc(~"100% - "@content_padding * 2);
        }
        
        .filters-content
        {     
			.title
			{
				font-size: 1.14em;
				font-weight: 500;
				background-image: url('../icons/green/sliders.svg');
				background-repeat: no-repeat;
				background-position: 15px center;
				padding: 0 0 0 50px ;
				line-height: 50px;
				height: 50px;
				border-bottom: 1px solid @c_grey_light2;
			}
            
            
            .content
            {
				padding: 15px;
				font-weight: normal;
				border-bottom: 1px solid @c_grey_light2;

				&:last-of-type
				{
					border-bottom: none;
				}
                
                .items-list
                {
                    .flex-display();
                    .flex-wrap(wrap);

                    > .category
                    {
                        .flex-display(inline-flex);
                        .align-items(center);
                        .justify-content(center);
                        .flex-grow(1);
                        text-align: center;
                        margin: 0 6px 6px;
                        padding: 0 1em;
                        border-radius: 3px;
                        background-color: @c_grey_light2;
                        border: 1px solid rgb(212, 219, 225);
                        color: @c_grey;
                        font-size: 1rem;
                        height: 28px;
                        transition: 0.1s;
                        cursor: default;


                        &:not(.active)
                        {
                            cursor: pointer;
                            &:hover
                            {
                                /*
                                background-color: darken(@c_grey_light2, 5%);
                                border-color: darken(rgb(212, 219, 225), 5%);
                                color: darken(@c_grey, 5%);
                                */
                            }
                        }                    

                        &.active
                        {
                            background-color: rgb(231, 250, 240);
                            border-color: rgb(69, 223, 139);                        
                            color: rgb(0, 139, 128);
                        }


                        &[data-filter="inne"]
                        {
                            order: 100; /*last*/
                        }

                    }                
                }
            }            
        }

		&.fixed
		{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 105;
			margin-top: 0;
			max-width: 100%;
			-webkit-transform: translateZ(0);

			@media @phablet
			{
				position: relative;
			}

			.filters-content
			{
                .flex-display();
                .align-items(center);
                
				.title
				{
					position: absolute;
					width: auto;
                    display: inline-block;
					border: 0;
                    top: 50%;
                    .translateY(-50%);
					line-height: 1;
					height: auto;
                    z-index: 1;

					@media @tablet
					{
						font-size: 0.9em;
						background-size: 20px auto;
						padding-left: 40px;
					}
				}

				.content
				{
                    position: relative;
                    width: calc(~"100% - 400px");
					max-width: 1200px;
					margin: 0 auto;
                    padding: 15px 0 10px;
                    z-index: 2;

					@media @tablet
					{
						width: calc(~"100% - 270px");
					}

                    .items-list
                    {
                        margin-left: -6px;
                        width: calc(~"100% + 12px"); 
                    }
				}
			}
		}        
        
	}

    .page-content
	{
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0; 
            
        @media @phone
        {
            width: 100%;
            padding-left: @content_padding;
            padding-right: @content_padding;
        }        
        
        .tiles-grid
        {
            padding: 28px 0;           

            .grid-content
            {            
                .grid-item
                {
                    /*position: absolute;*/
                    opacity: 0;
                    pointer-events: none;
                    transition: width 0.3s, transform 0.3s;
                    width: 0;
                    /*height: 0;*/
                    padding: 0;
                    overflow: hidden;
                    .scale(0);

                    &.active
                    {
                        position: static;
                        opacity: 1;
                        pointer-events: auto;                    
                        .scale(1);
                        /*height: auto;*/
                        width: 20%;
                        
                        @media @desktop
                        {
                            width: 25%;
                        }   
                        @media @tablet
                        {
                            width: 33.333%;
                        }   

                        @media @phablet
                        {
                            width: 50%;
                        }
                    }                   
                    
                    .content-wrap
                    {
                        padding: @content_padding;

                        @media @tablet
                        {
                            padding: 10px;
                        }
                    }              
                }
            }
        }
	}

	.description
	{
		line-height: 1.7em;
		margin-top: 20px;
	}
}