body.home
{
	.page-main.home
	{
		max-width: 1200px;
		margin: 0 auto;
		width: 96%;

		.promobox
		{
			margin-top: 10em;

			@media @tablet
			{
				margin-top: 4em;
				padding-bottom: 3em;
			}
		}
		.megabox
		{
			margin-top: 10em;

            .posts-container
            {
                @media @phablet
                {
                    padding-bottom: 60px;
                }
            }
		}

		.page-content
		{
			padding-top: 7em;
			.widget-title,
            .textwidget .title
			{
				font-size: 2.5rem;
				text-align: center;
				font-weight: 500;
				color: @c_darkgrey;
				margin: 0;
				padding-bottom: 0.5em;
			}

			.textwidget
			{
				font-size: 1.14em;
				text-align: center;
			}
   
            .howitworkscontent
            {
                @media @phablet
                {
                    display: block;
                }
                
                .panel-grid-cell
                {
                    @media @phablet
                    {
                        display: block;
                    }                    
                    
                    .widget_media_image
                    {
                        padding: 3rem 3rem 2rem;
                        
                        @media @tablet
                        {
                            padding: 5rem 2rem 0rem;
                        }
                        
                        @media @phablet
                        {
                            padding: 6rem 0rem 0rem;
                            width: 100%;
                            max-width: 300px;
                            margin: 0 auto;
                        }
                        
                        img
                        {
                            display:block;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            
			.howitworkscontent,
			.smaller
			{
				.widget-title
				{
					font-size: 1.7em;
					line-height: 1.37em;
					text-align: left;
					font-weight: 500;
					color: @c_darkgrey;
					margin: 0;
					padding: 3em 0 1em 0;
                    
                    @media @phablet
                    {
                        padding: 1em 0;
                    }
				}

				.textwidget
				{
					font-size: 1.2em;
					text-align: left;
				}

				.higherimage
				{
					img
					{
						margin-top: -5em;
					}
				}
			}

			.smaller
			{
				.widget-title,
				*
				{
					text-align: center;
				}
				input[type=email]
				{
					text-align: left;
					width: 100%;
					max-width: 450px;
				}
			}
		}

	}
	.mc4wp-form-fields
	{
		small
		{
			display: block;
		}
	}
}