.single
{
    .site-content
    {
        .page-main.product
        {
            .main-content
            {
                padding: 4% @narrow_content_padding/2;
                
                @media @tablet
                {
                    padding: 4% @narrow_content_padding/2;
                }

                @media @phablet
                {
                    padding: 10% @narrow_content_padding/3 5%;
                }

                @media @phone
                {
                    padding: 10% @narrow_content_padding/6 5%;
                }
                
                .content
                {
                    width: 64%;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5%;
                    padding: 0;

                    @media @phablet
                    {
                        width: 108%;
                        margin-left: -4%;
                    }


                    @media @phone
                    {
                        width: 112%;
                        margin-left: -6%;
                    }

                    .product-info
                    {
                        margin-bottom: 3em;

                        .labels
                        {
                            background: @c_green;
                            font-size: 0;
                            padding: 14px 0;
                            & > div
                            {
                                display: inline-block;
                                width: 20%;
                                text-align: center;
                                color: @c_white;
                                vertical-align: middle;
                                line-height: 1em;
                                text-transform: uppercase;
                                font-weight: 500;
                                padding: .3em 1.5em;
                                font-size: 12px;
                                letter-spacing: 0.5px;

                                @media @tablet
                                {
                                    width: 25%;
                                    &.kind
                                    {
                                        display: none;
                                    }
                                }
                                @media @phablet
                                {
                                    font-size: 11px;
                                }
                                @media @phone
                                {
                                    font-size: 10px;
                                }

                            }

                            &.n4
                            {
                                & > div
                                {
                                    width: 25%;

                                    @media @tablet
                                    {
                                        width: 33%;
                                    }
                                }
                            }

                            &.n3
                            {
                                & > div
                                {
                                    width: 33%;


                                    @media @tablet
                                    {
                                        width: 50%;
                                    }
                                }
                            }
                        }
                        .data
                        {
                            background: @c_white;
                            font-size: 0;
                            padding: 50px 0;

                            @media @phablet
                            {
                                padding: 30px 0;
                            }

                            .drop-shadow(0px, 1px, 30px, -3px, 0.15);


                            & > div
                            {
                                font-size: 1.15rem;
                                display: inline-block;
                                width: 20%;
                                text-align: center;
                                color: @c_darkgrey;
                                vertical-align: middle;
                                line-height: 1em;
                                padding: 0 1em;
                                font-weight: 500;
                                position: relative;


                                @media @phablet
                                {
                                    font-size: 14px;
                                }

                                &.kind
                                {
                                    font-size: 13px;
                                    @media @tablet
                                    {
                                        display: block;
                                        width: 100%!important;
                                        margin-top: -10px;
                                        padding-bottom: 20px;
                                    }
                                }

                                @media @tablet
                                {
                                    width: 25%;
                                }

                                &:after
                                {
                                    height: 60px;
                                    width: 1px;
                                    content: "";
                                    background: @c_lightestgrey;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                }

                                &:last-child
                                {
                                    &:after
                                    {
                                        display: none;
                                    }
                                }

                                small
                                {
                                    font-weight: normal;
                                    color: @c_grey;
                                    font-size: .8em;
                                    line-height: 1.5em;
                                }
                            }

                            &.n4
                            {
                                & > div
                                {
                                    width: 25%;

                                    @media @tablet
                                    {
                                        width: 33%;
                                    }
                                }
                            }

                            &.n3
                            {
                                & > div
                                {
                                    width: 33%;


                                    @media @tablet
                                    {
                                        width: 50%;
                                    }
                                }
                            }

                            img
                            {
                                max-width: 100%;
                            }
                        }

                        .tooltip
                        {
                            display: inline-block;
                            padding-left: 0.5em;
                            vertical-align: top;
                            position: relative;
                            .content
                            {
                                display: none;
                                position: absolute;
                                top: 2em;
                                left: -50%;
                                transform: translateX(-40%);
                                list-style: none;
                                background: @c_white;
                                border-radius: 0.5em;
                                .drop-shadow(0px, 1px, 30px, -3px, 0.15);
                                padding: 0.5em;
                                margin: 0 auto;
                                font-size: 0.6em;
                                width: 250px;
                                font-weight: 300;
                                @media @phablet
                                {
                                    width: 190px;
                                    font-size: 0.6em;
                                }

                            }
                            .show
                            {
                                margin-top: 0.1em;
                                display: block;
                                width: 1em;
                                height: 1em;
                                background-image: url(../icons/green/info.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }

                    img
                    {
                        margin-bottom: 1.5em;
                    }

                    h2
                    {
                        font-size: 1.3em;
                    }

                    h3
                    {
                        font-size: 1.15em;
                    }

                    p,
                    h2,
                    h3,
                    ul,
                    ol
                    {
                        padding-bottom: 1.5em;
                    }
                }


                .sidebar
                {
                    width: 29%;
                    display: inline-block;
                    padding: 0;
                    vertical-align: top;


                    @media @phablet
                    {
                        width: 100%;
                    }

                    h3
                    {
                        font-size: 0.9em;
                        font-weight: 500;
                    }

                    img
                    {
                        max-width: 100%;
                    }

                    .rating
                    {
                        padding: 2.4em 0;
                        h3
                        {
                            padding-bottom: .4em;
                        }
                        .mark
                        {
                            display: inline-block;
                            vertical-align: top;
                            line-height: 2em;
                        }

                        .btn
                        {
                            font-size: 0.6em;
                            margin-bottom: 1.5em;
                        }

                        .stars
                        {
                            margin-bottom: 2rem;

                            &>span
                            {
                                margin-right: 10px;
                                width: 1.2rem;
                                height: 1.2rem;
                            }
                        }
                    }

                    .advantages
                     {
                        padding-bottom: 1em;
                        h3
                        {
                            color: @c_green;
                            font-size: 1.15em;
                            font-weight: 500;
                            padding-bottom: 0.5em;

                            span
                            {
                                font-size: 1.4em;
                                font-weight: normal;
                            }
                        }

                        ul
                        {
                            list-style: none;
                            li
                            {
                                padding-left: 20px;
                                line-height: 1.8em;
                                &:before
                                {
                                    content: "•";
                                    color: @c_green;
                                    display: inline-block;
                                    font-size: 1.6em;
                                    line-height: 0.4em;
                                    margin-right: 0.3em;
                                    top: 4px;
                                }
                            }
                        }
                     }

                    .disadvantages
                    {
                        padding-bottom: 1em;
                        h3
                        {
                            color: @c_grey;
                            font-size: 1.15em;
                            font-weight: 500;
                            padding-bottom: 0.5em;

                            span
                            {
                                font-size: 1.4em;
                                font-weight: normal;
                            }
                        }
                        ul
                        {
                            list-style: none;
                            li
                            {
                                padding-left: 20px;
                                line-height: 1.8em;
                                &:before
                                {
                                    content: "•";
                                    color: @c_grey;
                                    display: inline-block;
                                    font-size: 1.6em;
                                    line-height: 0.4em;
                                    margin-right: 0.3em;
                                    top: 4px;
                                }
                            }
                        }
                    }

                    .address
                    {
                        padding-bottom: 1em;
                        h3
                        {
                            font-size: 1.15em;
                            font-weight: 500;
                            padding-bottom: 0.5em;
                            color: @c_grey;

                            span
                            {
                                font-size: 1.4em;
                                font-weight: normal;
                            }
                        }

                        ul
                        {
                            list-style: none;
                            li
                            {
                                padding-left: 20px;
                                line-height: 1.8em;
                                &:before
                                {
                                    content: "•";
                                    color: @c_green;
                                    display: inline-block;
                                    font-size: 1.6em;
                                    line-height: 0.4em;
                                    margin-right: 0.3em;
                                    top: 4px;
                                }

                                img
                                {
                                    height: 30px;
                                    width: auto;
                                    margin: 0 8px 8px 0;
                                }
                            }
                        }
                    }

                    .requirements
                    {
                        padding-bottom: 1em;
                        h3
                        {
                            color: @c_grey;
                            font-size: 1.15em;
                            font-weight: 500;
                            padding-bottom: 0.5em;
                        }

                        ul
                        {
                            list-style: none;
                            li
                            {
                                padding-left: 30px;
                                font-size: 12px;
                                line-height: 22px;
                                margin-bottom: 1em;
                                &:before
                                {
                                    width: 24px;
                                    height: 20px;
                                    content: "";
                                    color: @c_darkgrey;
                                    display: inline-block;
                                    font-size: 1.6em;
                                    line-height: 0.4em;
                                    margin-right: 0.3em;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    vertical-align: middle;
                                    margin-left: -7px;

                                }

                                &.age
                                {
                                    &:before
                                    {
                                        background-image: url(../img/icons/finansowanie/Age.svg);
                                    }
                                }

                                &.id
                                {
                                    &:before
                                    {
                                        background-image: url(../img/icons/finansowanie/ID.svg);
                                    }
                                }

                                &.baccount
                                {
                                    &:before
                                    {
                                        background-image: url(../img/icons/finansowanie/Bank.svg);
                                    }
                                }

                                &.phone
                                {
                                    &:before
                                    {
                                        background-image: url(../img/icons/finansowanie/Mobile.svg);
                                    }
                                }

                            }
                        }
                    }
                    .attachments
                    {
                        padding-bottom: 1em;
                        h3
                        {
                            color: @c_darkgrey;
                            font-size: 1.2em;
                            font-weight: 500;
                            padding-bottom: 0.5em;
                        }
                        ul
                        {
                            list-style: none;
                            li
                            {
                                padding-left: 50px;
                                position: relative;
                                line-height: 2em;
                                &:before
                                {
                                    background-image: url(../icons/grey/pdf.svg);
                                    background-repeat: no-repeat;
                                    width: 20px;
                                    height: 20px;
                                    content: "";
                                    color: @c_darkgrey;
                                    display: inline-block;
                                    font-size: 1.6em;
                                    line-height: 0.4em;
                                    margin-right: 0.3em;
                                    background-size: contain;
                                    vertical-align: middle;
                                    margin-left: -7px;
                                    position: absolute;
                                    left: 35px;
                                    top: 2px;
                                }
                                &:hover
                                {
                                    &:before
                                    {
                                        background-image: url(../icons/green/pdf.svg);
                                    }
                                }
                            }
                        }
                    }
                    .related-posts
                    {
                        padding-top: 2em;
                        border-top: 1px solid @c_lightergrey;

                        h3
                        {
                            padding-top: 2em;
                            font-size: 1em;
                        }

                        ul
                        {
                            list-style: none;

                            li
                            {
                                margin-bottom: 1.3em;
                                a
                                {
                                    color: @c_darkgrey;
                                    line-height: 1.2em;
                                }

                                .img
                                {
                                    margin-bottom: 8px;
                                }
                            }
                        }
                    }

                }

            }


            .post-list
            {
                width: 100%;
                margin: 0 auto;
                max-width: 2 * @content_padding + @content_width;
                padding: 4% @content_padding;
            }

            .cta
            {
                margin: 3em;
                text-align: center;
            }
        }

        .comments
        {
            .content
            {
                width: 100%!important;
            }
        }
    }


}