.single
{
    .site-content
    {
        .page-main
        {
            .main-content
            {
                padding: 4% @narrow_content_padding;

                @media @tablet
                {
                    padding: 4% @narrow_content_padding/2;
                }

                @media @phablet
                {
                    padding: 10% @narrow_content_padding/3 5%;
                }

                @media @phone
                {
                    padding: 10% @narrow_content_padding/6 5%;
                }

                > .post-content
                {
                    padding: 0 20% 4% 0;

                    @media @tablet
                    {
                        padding-right: 10%;
                    }

                    @media @phablet
                    {
                        padding-right: 0;
                    }

                    
                    .content
                    {
                        .image
                        {
                            display: block;
                            width: 100%;
                            height: auto;

                            img
                            {
                                display: block;
                                width: 100%;
                            }
                        }
                        
                        img
                        {
                            margin: 2em 0;
                            max-width: 100%;
                            height: auto;

                            &.aligncenter
                            {
                                display: block;
                                margin: 2em auto;
                            }
                        }
                        
                        .author-block
                        {
                            margin: 0 0 2em;

                            img 
                            {
                                margin: 0;
                            }
                        }
                    }



                    h2
                    {
                        font-size: 1.3em;
                    }

                    h3
                    {
                        font-size: 1.15em;
                    }

                    ul
                    {
                        padding-bottom: 1em;
                    }

                    .widget
                    {
                        .textwidget,
                        .em-text-block-widget
                        {
                            padding-right: 20%;

                            @media @phablet
                            {
                                padding-right: 15%;
                            }

                            @media @phone
                            {
                                padding-right: 0;
                            }
                        }
                    }
                }
            }

            .post-list.col-2
            {
                width: 100%;
                margin: 0 auto;
                max-width: @content_width + @content_padding * 2;
                text-align: left;
            }

            .thumbvote
            {
                .label
                {
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 500;
                    font-size: 1.1em;
                    color: @c_grey;
                }

                .thumbs
                {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 2em 0;

                    button
                    {
                        width: 2.3em;
                        height: 2.3em;
                        background: none;
                        background-size: contain;
                        background-repeat: no-repeat;
                        border: none;
                        padding: 0;
                        margin: 0 0 0 1.5em ;
                        cursor: pointer;

                        &.down
                        {
                            background-image: url(../icons/grey/thumbs-down.svg);

                            &:hover
                            {
                                background-image: url(../icons/green/thumbs-down.svg);
                            }

                            &.locked-active
                            {
                                background-image: url(../icons/green/thumbs-down.svg)!important;
                                cursor: default!important;
                            }
                            &.locked-inactive
                            {
                                background-image: url(../icons/grey/thumbs-down.svg)!important;
                                cursor: default!important;
                            }
                        }
                        &.up
                        {
                            background-image: url(../icons/grey/thumbs-up.svg);

                            &:hover
                            {
                                background-image: url(../icons/green/thumbs-up.svg);
                            }

                            &.locked-active
                            {
                                background-image: url(../icons/green/thumbs-up.svg)!important;
                                cursor: default!important;
                            }
                            &.locked-inactive
                            {
                                background-image: url(../icons/grey/thumbs-up.svg)!important;
                                cursor: default!important;
                            }
                        }
                    }

                }
            }
       
            /*
            .sidebar.widget-area
            {
                &.sidebar-bottom
                {
                    margin: 2rem 0 3rem;
                }
            }  
            */
        }
    }
}