.product-list.investments
{
	.products
	{
		&.header
		{
            li
            {
                @media @phone
                {
                    .flex-display();
                    .justify-content(space-between);
                }
                .data-row
                {
                    width: 14.285%;

                    @media @tablet
                    {
                        font-size: 11px;

                        &.percentage
                        {
                            width: 17.285%;
                        }

                        &.rank
                        {
                            width: 11.285%;
                        }                    
                    } 

                    @media @phablet
                    {
                        font-size: 12px;

                        width: 25%;

                        &.percentage,
                        &.rank
                        {
                            width: 25%;
                        }                    
                    }

                    @media @phone
                    {
                        font-size: 11px;  
                        width: auto;

                        &.percentage,
                        &.rank
                        {
                            width: auto;
                        }   
                    }
                }
            }
		}
		
		&.list
		{
            > ul > li
            {            

                .data-row
                { 
                    width: 14.285%;

                    @media @tablet
                    {
                        font-size: 1.1rem;

                        &.percentage
                        {
                            width: 17.285%;
                        }

                        &.rank
                        {
                            width: 11.285%;
                        }
                    }

                    @media @phablet
                    {				
                        vertical-align: top;
                        width: 25%;

                        &.percentage,
                        &.rank
                        {
                            width: 25%;
                        }
                    }

                    .name
                    {
                        @media @tablet
                        {
                            font-size: 0.8em;
                        }

                        @media @phone
                        {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
	}
}