.product-list.accounts_currency
{
	.filters
	{
		.slider
		{
			width: 40%;
			margin-right: 5%;
			display: inline-block;
			margin-bottom: 2em;
		}

		.options
		{
			.option
			{
				display: inline-block;
				width: 64%;
				margin-bottom: 1.5em;

				&:first-child
				{
					width: 30%;
					margin-right: 5%;
					@media @phablet
					{
						width: 97%;
						margin-right: 3%;
					}
				}


				@media @phablet
				{
					width: 97%;
					margin-right: 3%;
				}

				.checkbox
				{
					display: inline-block;
					margin-right: 1em;
				}
			}
		}
	}

	.products
	{
		.data-row
		{
			font-size: 1.2rem;

			.tooltip
			{
				display: block;
				padding-left: 0;
				vertical-align: top;
				position: relative;
				margin: 0 auto;
				width: 2em;
			}
		}

		&.list
		{
			.name
			{
				font-size: 1em;

				@media @tablet
				{
					font-size: 0.8em;
				}

				@media @phone
				{
					font-size: 1.3em;
				}
			}
		}
	}
}