.product-list
{
	.page-head
	{
		.content
		{
			max-width: 1200px;
			padding-bottom: 10em;
			padding-left: 0;
			padding-right: 0;
			margin: 0 auto;
			width: 90%;

			.count
			{
				color: @c_green;
				font-weight: normal;
			}
		}
	}

	.filters
	{
		margin-top: -7em;
		background: @c_white;
		.drop-shadow(0px, 1px, 30px, -3px, 0.15);
		position: relative;
		z-index: 3;
        
        .sliders
        {
            font-size: 0;
            .slider
            {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                font-size: 1rem;
                padding: 0.75em 1.5em;
                
                &:nth-of-type(odd)
                {
                    padding-right: 2em;

	                @media @phablet
	                {
		                padding: 0.75em 0;
	                }
                }
                
                &:nth-of-type(even)
                {
                    padding-left: 2em;

	                @media @phablet
	                {
		                padding: 0.75em 0;
	                }
                }
            }
        }
        
        .options
        {
            .option
            {
                display: inline-block;
                width: 25%;
                margin-right: 5%;
                margin-bottom: 1.5em;

	            @media @tablet
	            {
		            width: 44%;
	            }
	            @media @phablet
	            {
		            width: 100%;
	            }
            }

	        .slider
	        {
				@media @tablet
				{
					margin-bottom: 2em;
				}
	        }
        }        

		form
		{
			h2
			{
				font-size: 1.14em;
				font-weight: 500;
				background-image: url('../icons/green/sliders.svg');
				background-repeat: no-repeat;
				background-position: 15px center;
				padding: 0 0 0 50px ;
				line-height: 50px;
				height: 50px;
				border-bottom: 1px solid @c_grey_light2;

				.show-all
				{
					float: right;
					padding-right: 40px;
					background-image: url('../icons/grey/grid.svg');
					background-repeat: no-repeat;
					background-position: right center;
					margin-right: 15px;
					font-size: .75em;
					cursor: pointer;
					font-weight: normal;

					&:hover
					{
						color: @c_green;
					}

					&.active
					{
						background-image: url('../icons/green/grid.svg');
					}
				}
			}

			& > div
			{
				padding: 15px;
				font-weight: normal;
				border-bottom: 1px solid @c_grey_light2;

				&:last-of-type
				{
					border-bottom: none;
				}

				.slider
				{
					@media @phablet
					{
						width: 100%!important;
					}
					h3
					{
                        .flex-display();
                        .justify-content(space-between);
                        .align-items(center);                        
						font-weight: normal;
						font-size: 1em;
						color: @c_darkgrey;
                        padding-bottom: 2em;

						.value
						{
							line-height: 1.4em;
							padding: 0.15em 1em;
							border: 1px solid rgb(69,223,139);
							border-radius: 3px;
							background: rgb(231,250,240);
							color: rgb(21,150,139);
							font-weight: 500;
						}
					}
				}

				&.togglable
				{
					display: none;
				}
			}
		}

		&.fixed
		{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 105;
			margin-top: 0;
			max-width: 100%;
			-webkit-transform: translateZ(0);

			@media @phablet
			{
				position: relative;
			}

			form
			{

				h2
				{
					position: absolute;
					width: 100%;
					border: 0;
					line-height: 100px;
					height: 100px;

					@media @tablet
					{
						font-size: 0.9em;
						background-size: 20px auto;
						padding-left: 40px;
					}

					.show-all
					{

						@media @tablet
						{
							font-size: 0.9em;
							background-size: 20px auto;
							padding-right: 23px;
						}
					}
				}

				&>div:not(.togglable)
				{
					max-width: calc(~"100% - 400px");
					margin: 0 auto;
					padding-bottom: 0;

					@media @tablet
					{
						max-width: calc(~"100% - 270px");

					}
				}
			}
		}
	}

    .products
	{
		margin: 0 auto;
        
        > ul
        {
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0;

            > li
            {
                box-shadow: 0px 1px 30px -3px rgba(0, 0, 0, 0.15);
                font-size: 0;
                
                &:before
                {
                    display: none;
                }
                
                > *
                {
                    font-size: 14px;
                }

                .data-row
                {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.48rem;
                    width: 16.6667%;                    

                    @media @tablet
                    {
                        font-size: 1rem;
                    }

                    @media @phablet
                    {
                        font-size: 1.5rem;
                        text-align: center;
                        padding: 0.5em;
                        vertical-align: top;

                        .mobile
                        {
                            display: block;
                        }
                        .desktop
                        {
                            display: none;
                        }
                    } 

                    .mobile
                    {
                        display: none;
                    }


                    small
                    {
                        font-size: 0.65em;
                        font-weight: normal;
                        line-height: 1.2em;
                        display: block;
                        padding-top: 0.3em;
                        color: @c_grey;
                    }

                    del
                    {
                        display: block;
                    }
                }

                .more
                {
                    margin-top: 2rem;
                    .expander
                    {
                        color: @c_green;
                        text-align: center;
                        padding: 0.3em 1em;
                        cursor: pointer;
                        border-top: 1px solid @c_grey_light2;
                        position: relative;

                        &.unfolded
                        {
                            &>div
                            {
                                display: none;

                                &.fold
                                {
                                    display: inline-block;
                                }
                            }

                            .arrow
                            {
                                .rotate(315deg);
                            }
                        }

                        &>div
                        {
                            display: inline-block;
                            width: 100px;
                            color: @c_grey;
                            line-height: 2em;
                            font-size: .9em;

                            &.fold
                            {
                                display: none;
                            }
                        }

                        .arrow
                        {
                            display: inline-block;
                            top: 48%;
                            right: 0;
                            width: 12px;
                            height: 12px;
                            margin-top: -6px;
                            transition: @transition_speed;
                            .rotate(135deg);
                            pointer-events:none;

                            &:before,
                            &:after
                            {
                                position: absolute;
                                display: block;
                                content: "";
                                top: 25%;
                                border-radius: 3px;
                                background-color: @c_green;
                            }
                            &:before
                            {
                                width: 75%;
                                height: 2px;
                                left: 0;
                            }
                            &:after
                            {
                                width: 2px;
                                height: 75%;
                                right: 25%;
                            }
                        }
                    }
                    .expanded
                    {
                        padding: 1em;
                        display: none;

                        ul
                        {
                            padding: 0;
                            margin: 0;
                            list-style-position: inside;
                        }

                        .description
                        {
                            width: 60%;
                            margin-right: 5%;
                            display: inline-block;
                            vertical-align: top;
                            line-height: 1.5em;

                            @media @phablet
                            {
                                width: 100%;
                                margin-bottom: 2em;
                            }

                            h3
                            {
                                padding-left: 30px;
                                background-image: url(../icons/green/file-text.svg);
                                font-weight: 500;
                                color: @c_darkgrey;
                                background-repeat: no-repeat;
                                font-size: 18px;

                                @media @phablet
                                {
                                    font-size: 16px;
                                    background-size: auto 16px;
                                    padding-left: 22px;
                                }
                            }

                            & > a
                            {
                                position: relative;
                                &:after
                                {
                                    position: absolute;
                                    height: 3px;
                                    width: 80px;
                                    border-radius: 13px;
                                    content: "";
                                    margin-bottom: 14px;
                                    display: block;
                                    background: @c_grey_light2;
                                    left: 125%;
                                    top: 7px;
                                    @media @phablet
                                    {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .sidebar
                        {
                            width: 33%;
                            margin-right: 0%;
                            display: inline-block;
                            vertical-align: top;

                            @media @phablet
                            {
                                width: 100%;
                            }

                            .expert
                            {
                                h3
                                {
                                    color: @c_darkgrey;
                                    padding-left: 30px;
                                    background-image: url(../icons/green/info.svg);
                                    background-repeat: no-repeat;
                                    line-height: 1.5em;
                                    margin-top: 0;

                                }
                            }

                            .advantages
                            {
                                h3
                                {
                                    color: @c_green;
                                    font-size: 1.2em;
                                    font-weight: 500;

                                    span
                                    {
                                        font-size: 1.4em;
                                        font-weight: normal;
                                    }
                                }

                                ul
                                {
                                    list-style: none;
                                    li
                                    {
                                        padding-left: 20px;
                                        &:before
                                        {
                                            content: "•";
                                            color: @c_green;
                                            display: inline-block;
                                            font-size: 1.6em;
                                            line-height: 0.4em;
                                            margin-right: 0.3em;
                                            top: 4px;
                                        }
                                    }
                                }
                            }

                            .disadvantages
                            {
                                h3
                                {
                                    color: @c_grey;
                                    font-size: 1.2em;
                                    font-weight: 500;
                                    margin-top: 1em;

                                    span
                                    {
                                        font-size: 1.4em;
                                        font-weight: normal;
                                    }
                                }
                                ul
                                {
                                    list-style: none;
                                    li
                                    {
                                        padding-left: 20px;
                                        &:before
                                        {
                                            content: "•";
                                            color: @c_darkgrey;
                                            display: inline-block;
                                            font-size: 1.6em;
                                            line-height: 0.4em;
                                            margin-right: 0.3em;
                                            top: 4px;
                                        }
                                    }
                                }
                            }
                            .attachments
                            {
                                h3
                                {
                                    color: @c_darkgrey;
                                    font-size: 1.2em;
                                    font-weight: 500;
                                    margin-top: 2em;
                                }
                                ul
                                {
                                    list-style: none;
                                    li
                                    {
                                        padding-left: 30px;
                                        line-height: 2em;

                                        &:before
                                        {
                                            content: "•";
                                            color: @c_darkgrey;
                                            display: inline-block;
                                            font-size: 1.6em;
                                            line-height: 0.4em;
                                            margin-right: 0.3em;
                                        }
                                    }
                                }
                            }
                        }

                        .cta
                        {
                            margin: 4em auto;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }        


        .name
        {            
            img
            {
                max-width: 90%;
            }

            a
            {
                .name-text
                {
                    padding: 5%;
                    font-size: 0.9rem;
                    margin: 0;
                    font-weight: 500;
                    color: inherit;
                }
            }
        }         
        
		&.loading
		{
			position: relative;
			&:before
			{
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,0.5);
				content: "";
				display: block;
			}
		}

		&.header
		{
			margin-top: 5em;
			background: @c_green;
            
            &.fixed
            {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 105;
                margin-top: 0;
                max-width: 100%;
	            -webkit-transform: translateZ(0);
                
                @media @phablet
                {
	                position: relative;
                }
                
                > ul
                {
                    width: 90%;
                    max-width: 1200px;   
                    margin: 0 auto;
                }
            }

			.mobile-label
			{
				display: none;
				@media @phablet
				{
					display: block;
					line-height: 2em;
					color: @c_white;
					text-align: center;
					font-size: 1em;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
			
            ul
			{
				li
				{
					margin-bottom: 0;
					text-transform: uppercase;
					font-weight: normal;
					/*font-size: 10px;*/
                    
                    @media @phablet
                    {
                        .flex-display();                        
                    }

					> div
					{
						color: @c_white;

						@media @phablet
						{
							/*width: 31%!important;*/
                            .flex-grow(1);
							font-size: 1.1em;

							&.rank
							{
								/*width: 31%!important;*/
							}
						}
						&:not(.sortable)
						{
							@media @phablet
							{
								display: none;
							}
						}
					}
                    
					.data-row
					{
						font-size: 12px;
                        padding: 18px 5px;
                        
                        line-height: 1.2;

						@media @phablet
						{
                            padding-top: 11px;
                            padding-bottom: 11px;
						}
					}
					a
					{
						color: @c_white;
                        
						/*line-height: 50px;*/

						@media @phablet
						{
							/*line-height: 2em;*/
						}
					}
				}
			}
		}

		&.list
		{
			.sorted-field
			{
				background: @c_lightestgrey;
				padding: 30px 0;
			}
            
            > ul
            {
                > li
                {
                    margin-bottom: 2rem;

                    .labels
                    {
                        padding: 12px 15px 5px 15px;
                        ul
                        {
                            li
                            {
                                display: inline-block;
                                margin-right: .5em;
                                background: @c_lightergrey;
                                color: @c_darkgrey;
                                border-radius: .8em;
                                text-transform: uppercase;
                                font-weight: 500;
                                padding: .3em 1.5em;
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                        }
                    }

                    &.highlighted
                    {
                        border: 1px solid @c_green;
                        padding: 0;
                    }

                    .data-row
                    {
                        color: @c_darkgrey;
                        &.rank
                        {   
                            position: relative;
                            
                            .rating-value
                            {
                                position: absolute;
                                padding-top: 1rem;
                                left: 0;
                                right: 0;
                                margin: 0 auto;                                
                            }
                        }

                        @media @tablet
                        {

                            &.rank
                            {
                                .star-rating .stars > span
                                {
                                    margin-right: 0.1em;
                                    width: 1.3rem;
                                    height: 1.3rem;
                                }

                                small
                                {
                                    font-size: 12px;
                                }
                            }
                        }

                        @media @phablet
                        {
                            font-size: 1.5rem;
                            text-align: center;
                            width: 33.333%;
                            padding: 0.5em;
                            vertical-align: top;

                            .mobile
                            {
                                display: block;
                            }
                            
                            .desktop
                            {
                                display: none;
                            }

                            &.image,
                            &.name,
                            &.rank,
                            &.cta
                            {
                                width: 100%!important;
                            }


                            &.image,
                            &.name
                            {
                                img
                                {
                                    max-height: 50px;
                                    width: auto;
                                }
                            }
                            
                            
                            .rating-value
                            {
                                display: none;
                            }
                        }                        

                        &.image
                        {
                            text-align: center;

                            img
                            {
                                max-width: 120px;
                                width: auto;
                                margin-left: 15px;

                                @media @phablet
                                {
                                    margin-left: 0;
                                    max-width: 200px;
                                }
                            }
                        }

                        .mobile
                        {
                            display: none;
                        }


                        small
                        {
                            font-size: 0.65em;
                            font-weight: normal;
                            line-height: 1.2em;
                            display: block;
                            padding-top: 0.3em;
                            color: @c_grey;
                        }

                        del
                        {
                            display: block;
                        }

                        &.cta
                        {
                            font-size: 12px;
                            @media @tablet
                            {
                                font-size: 10px;
                            }
                            a
                            {
                                text-transform: none;
                                padding: 0 2em;
                                @media @tablet
                                {
                                    padding: 0 1em;
                                }

                                @media @phablet
                                {
                                    width: 80%;
                                }
                            }
                        }

                        &.rank
                        {
                            .mobile
                            {
                                @media @phablet
                                {
                                    display: inline-block;
                                    vertical-align: top;
                                    .star-rating
                                    {
                                        padding-top: 0.1em;
                                        .stars
                                        {
                                            margin-bottom: 0.2em;

                                            & > span
                                            {
                                                width: 1em;
                                                height: 1em;
                                            }
                                        }
                                    }
                                }

                            }


                            .opinions
                            {
                                font-size: 0.7em;
                                color: @c_green;
                                padding-top: 0.5em;
                                font-weight: normal;
                            }
                        }
                    }                       
                }
            }
        }
      

        

		.tooltip
		{
			display: inline-block;
			padding-left: 0.5em;
			vertical-align: top;
			position: relative;
			.content
			{
				display: none;
				position: absolute;
				top: 2em;
				left: -50%;
				transform: translateX(-40%);
				list-style: none;
				background: @c_white;
				border-radius: 0.5em;
				.drop-shadow(0px, 1px, 30px, -3px, 0.15);
				padding: 0.5em;
				margin: 0 auto;
				font-size: 0.6em;
				width: 250px;
				font-weight: 300;
				@media @phablet
				{
					width: 190px;
					font-size: 0.6em;
				}
			}
			.show
			{
				margin: 0.1em auto 0;
				display: block;
				width: 1em;
				height: 1em;
				background-image: url(../icons/green/info.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

	    .info
	    {
		    text-align: center;
		    padding: 20px;
		    font-weight: 500;
	    }
	}

	.description
	{
		line-height: 1.7em;
		margin-top: 20px;
	}
}