.product-list.accounts_saving
{
	.products
	{
		&.header
		{
            li
            {
                @media @phone
                {
                    .flex-display();
                    .justify-content(space-between);
                }
                .data-row
                {
                    @media @tablet
                    {
                        font-size: 11px;                    

                        &.name
                        {
                            width: 20.667%;
                        }   

                        &.interest
                        {
                            width: 19.667%;
                        }

                        &.rank
                        {
                            width: 11.667%;
                        }                    

                        &.cta
                        {
                            width: 14.667%;
                        }                    
                    } 
                    
                    @media @phablet
                    {
                        font-size: 12px;
                        width: 33.333%;

                        &.name,
                        &.interest,
                        &.rank,
                        &.cta
                        {
                            width: 33.333%;
                        }                    
                    }

                    @media @phone
                    {
                        font-size: 11px;  
                        width: auto;

                        &.name,
                        &.interest,
                        &.rank,
                        &.cta
                        {                             
                            width: auto;
                        }    
                    }                    
                }
            }
        }
       
		&.list
		{
            > ul > li
            {            

                .data-row
                {                     
                    @media @tablet
                    {
                        font-size: 1.1rem;
                        padding-bottom: 2em;

                        &.name
                        {
                            width: 20.667%;
                        }   

                        &.interest
                        {
                            width: 19.667%;
                        }

                        &.rank
                        {
                            width: 11.667%;
                        }                    

                        &.cta
                        {
                            width: 14.667%;
                        }  
                    }

                    @media @phablet
                    {				
                        vertical-align: top;
                        width: 33.333%;

                        &.name,
                        &.interest,
                        &.rank,
                        &.cta
                        {
                            width: 33.333%;
                        }  
                    }
                    
                    &.interest
                    {
                        position: relative;

                        .tooltip
                        {
                            padding-left: 0;
                            padding-top: 0.5em;
                            position: absolute;
                            margin: auto;
                            left: 0;
                            right: 0;
                            display: block;
                            width: 20px;
                        }
                    }                    

                    .name
                    {
                        @media @tablet
                        {
                            font-size: 0.8em;
                        }

                        @media @phone
                        {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
	}
}