
/* _____________________________________________________________________________ Rubik */


/* Regular */
@font-face {
    font-family: "rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "rubik";
    src: url("../fonts/Rubik/Rubik-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "rubik";
    src: url("../fonts/Rubik/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: "rubik";
    src: url("../fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}