.wecode-widget.widget-page-head
{
    color: @c_darkgrey;
    background-color: rgb(244,246,248);

    .widget-content
    {
        padding: 6% 13%;
        text-align: left;

        .title
        {
            font-size: 3rem;
            padding-bottom: 0.5em;
        }

        .description
        {
            font-size: 1.25rem;
            p
            {
                padding: 0;
            }
        }
    }
}