.wecode-widget.widget-posts-showcase
{
    background: linear-gradient(to bottom, rgb(244,246,248) 0%, rgb(244,246,248) 25%,rgba(0,0,0,0) 25.1%);

    .widget-content
    {
        padding-left: 13%;

        .showcase-container
        {
            position: relative;
            max-width: 1250px;
            width: 100%;

            .showcase-nav
            {
                .flex-display();
                .align-items(center);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 49%;
                padding: 0 5%;
                font-size: 0;
                z-index: 2;

                .dots
                {
                    .flex-grow(1);
                    height: 100%;
                    .dot
                    {
                        padding: 4px 0;
                        display: inline-block;
                        margin: 3px 8px 3px 0;
                        cursor: pointer;

                        span
                        {
                            display: block;
                            height: 4px;
                            width: 48px;
                            background-color: @c_white;
                            opacity: 0.8;
                            border-radius: 8px;
                        }

                        &:last-of-type
                        {
                            margin-right: 0;

                        }

                        &.active
                        {
                            span
                            {
                                background-color: @c_blue_dark;
                                opacity: 1;
                            }
                        }

                        &:hover
                        {
                            span
                            {
                                opacity: 1;
                            }

                        }
                    }
                }

                .nav
                {
                    width: 176px;

                    > div
                    {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        width: 50%;
                        padding-bottom: 50%;
                        background-color: transparent;
                        transition: @transition_speed;
                        cursor: pointer;

                        &:hover
                        {
                            background-color: rgba(255,255,255,0.5);

                            > span
                            {
                                svg
                                {
                                    stroke: @c_blue_dark;
                                }
                            }
                        }

                        > span
                        {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            .translate(-50%, -50%);

                            svg
                            {
                                stroke: @c_white;
                                transition: @transition_speed;
                            }
                        }
                    }
                }
            }


            .showcase-pages
            {
                position: relative;
                padding-bottom: 44.4%;
                width: 100%;
                .showcase-page
                {
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    + .showcase-page
                    {
                        opacity: 0;
                        pointer-events: none;
                    }

                    .primary-post
                    {
                        position:absolute;
                        width: 49%;
                        height: 96%;
                        left: 0;
                        bottom: 0;
                        z-index: 1;

                        .item
                        {
                            width: 100%;
                            height: 100%;
                            padding: 13.5% 10%;
                            background: @c_green_gradient;

                            .item-content
                            {
                                font-size: 1rem;

                                .categories
                                {
                                    padding-bottom: 2em;
                                    > span
                                    {
                                        display: inline-block;
                                        margin: 0 0.5em 0.5em 0;
                                        padding: 0.5em 1em;
                                        border-radius: 3em;
                                        background-color: @c_white;
                                        color: @c_grey;
                                        font-size: 0.75em;
                                        line-height: 1;
                                        text-transform: uppercase;

                                        &:last-of-type
                                        {
                                            margin-right: 0;

                                        }
                                    }
                                }

                                .title
                                {
                                    padding-bottom: 1em;
                                    font-size: 2em;
                                    line-height: 1.3;

                                    a
                                    {
                                        color: @c_blue_dark;

                                        &:hover
                                        {
                                            color: lighten(@c_blue_dark, 2.5%);
                                        }
                                    }
                                }

                                .excerpt
                                {
                                    padding-bottom: 2em;
                                    color:@c_white;
                                }

                                .read-more
                                {
                                    position: relative;
                                    display: inline-block;
                                    padding-right: 70px;
                                    color: @c_blue_dark;

                                    &:hover
                                    {
                                        color: lighten(@c_blue_dark, 2.5%);

                                        &:after
                                        {
                                            right: 10px;
                                        }
                                    }

                                    &:after
                                    {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        right: 0;
                                        top: 50%;
                                        margin-top: -1px;
                                        height: 2px;
                                        width: 50px;
                                        background-color: @c_blue_dark;
                                        transition: @transition_speed;
                                    }
                                }
                            }
                        }
                    }

                    .secondary-posts
                    {
                        position:absolute;
                        width: 53%;
                        height: 96%;
                        right: 0;
                        top: 0;
                        font-size: 0;
                        /*background-color: @c_black;*/
                        z-index: 3;

                        > div
                        {
                            display: inline-block;
                            vertical-align: top;
                            width: 50%;
                            height: 100%;

                            .item
                            {
                                position: relative;
                                height: 50%;

                                &:hover
                                {
                                    .item-content
                                    {
                                        &:after
                                        {
                                            opacity: 1;
                                        }
                                        &:before
                                        {
                                            opacity: 0;
                                        }
                                        img
                                        {
                                            .transform(~"scale(1.1) translate3d(0,0,0)");
                                        }
                                    }
                                }

                                &.item-tall
                                {
                                    height: 100%;
                                    .item-content
                                    {
                                        overflow: hidden;

                                        .link
                                        {
                                            padding-bottom: 30%;
                                        }
                                    }
                                }

                                .item-content
                                {
                                    position: relative;
                                    height: 100%;
                                    font-size: 1rem;
                                    overflow: hidden;

                                    &:before,
                                    &:after
                                    {
                                        position: absolute;
                                        display: block;
                                        content: "";
                                        left: 0;
                                        top: 0;
                                        height: 100%;
                                        width: 100%;

                                        transition: @transition_speed;
                                        z-index: 1;
                                    }

                                    &:before
                                    {
                                        background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%);
                                    }

                                    &:after
                                    {
                                        opacity: 0;
                                        background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%);
                                    }

                                    .link
                                    {
                                        position: absolute;
                                        .flex-display();
                                        .align-items(flex-end);
                                        left: 0;
                                        top: 0;
                                        height: 100%;
                                        padding: 10% 9% 15%;
                                        z-index: 2;

                                        > span
                                        {
                                            position: relative;
                                            display: block;
                                            padding-top: 1.5em;
                                            color: @c_white;
                                            font-size: 0.9em;

                                            > *
                                            {
                                                font-weight: normal;
                                            }

                                            &:before
                                            {
                                                position: absolute;
                                                display: block;
                                                content: "";
                                                left: 0;
                                                top: 0;
                                                height: 4px;
                                                width: 60px;
                                                background-color: @c_white;
                                                opacity: 0.8;
                                                border-radius: 4px;
                                            }
                                        }
                                    }

                                    img
                                    {
                                        position: absolute;
                                        display: block;
                                        left: 0;
                                        top: 0;
                                        height: 101%;
                                        width: auto;
                                        transition: @transition_speed;
                                        z-index: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}