html
{
	font-size: 14px;

	@media @phablet
	{
		font-size: 14px;
	}

	@media @phone
	{
		font-size: 12px;
	}
}


body
{
	font-family: @rubik;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
    background-color: @c_grey_light2_50;
    line-height: 1.3;
    color: @c_grey;

    @media @tablet
    {
        //pointer-events: none;
    }
}

.site
{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;

    .site-content
    {
        background-color: @c_white;
        padding-bottom: 100px;

        .main-content
        {
            width: 100%;
            max-width: @content_width;
            padding: 5% @narrow_content_padding;
            margin: 0 auto;

            @media @tablet
            {
                padding: 5% @narrow_content_padding/2;
            }

            @media @phablet
            {
                padding: 10% @narrow_content_padding/3 5%;
            }

            @media @phone
            {
                padding: 10% @narrow_content_padding/6 5%;
            }

            .content
            {
                ul
                {
                    padding-bottom: 1em;
                    list-style: none;

                    & > li
                    {
                        padding-left: 15px;
                        position: relative;
                        line-height: 1.7em;
                        &:before {
                            content: "• ";
                            color: @c_green; /* or whatever color you prefer */
                            position: absolute;
                            left: 0px;
                            top: 2px;
                            line-height: 1em;
                            font-size: 20px;
                        }
                    }
                }

                ol
                {
                    list-style: inside none;
                    padding-bottom: 1em;
                    counter-reset: ol-counter;
                    & > li
                    {
                        padding-left: 1.8em;
                        position: relative;
                        line-height: 1.7em;
                        counter-increment: ol-counter;
                        
                        &:before {
                            content: counter(ol-counter)".";
                            color: @c_green;
                            position: absolute;
                            right: calc(~"100% - 1.5em");
                            top: 0;
                            font-weight: 500;
                            line-height: inherit;
                        }
                    }
                }

                .btn
                {
                    font-size: 1em;
                    text-transform: none;
                }

                table
                {
                    width: 100%;
                    margin-bottom: 1em;
                    .drop-shadow(0px, 1px, 30px, -3px, 0.15);
                    tr:first-child
                    {
                        td,th {
                            background: @c_green;
                            color: @c_white;
                            font-weight: normal;
                            padding: 0.5em 1em;

                            *
                            {
                                color: @c_white;
                            }
                        }
                    }

                    tr:not(:first-child)
                    {
                        th
                        {
                            background: @c_green;
                            color: @c_white;
                            font-weight: normal;
                        }
                        td
                        {
                            background: none;
                            padding: 0.5em 1em;
                            position: relative;
                            //border-right: 1px solid rgba(244, 244, 244, 0.51);

                            @media @tablet {
                                font-size: 0.8em;
                            }

                            &:after
                            {
                                height: 90%;
                                width: 1px;
                                content: "";
                                background: rgba(244, 244, 244, 0.81);
                                position: absolute;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }

                        }
                    }
                }
            }

        }
    }
}



a
{
    color: @c_green;
    .transition(~"all "@transition_speed~", font-size 1ms");
    text-decoration: none;

    &:hover
        {
        color: @c_green_dark;
    }
}

h1,
h2,
h3,
h4,
h5,
h6
{
    line-height: 1.1em;
    padding-bottom: 1.25em;
    color: @c_darkgrey;
    font-weight: 500;
}

p
{
    padding-bottom: 1em;
    color: @c_grey;
    line-height: 1.68em;

}

b,
strong
{
    font-weight: 500;
}

.container
{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

input[type=checkbox],
input[type=radio]
{
    position: absolute;
    opacity: 0;
    & + label
    {
        padding-left: 25px;
        position: relative;
        cursor: pointer;
        line-height: 1.5em;

        &:before
        {
            top: 0;
            width:  1.5em;
            height:  1.5em;
            background-image: url(../icons/green/square.svg);
            position: absolute;
            display: block;
            line-height: 20px;
            text-align: center;
            content: "";
            background-size: contain;
            left: 0;
        }
    }

    &:checked
    {
        & + label
        {
            &:before
            {
                background-image: url(../icons/green/check-square.svg);
                color: @c_green;
            }
        }
    }
}

input[type=email]
{
    background: @c_white;
    display: inline-block;
    border: none;
    font-size: 0.8em;
    padding: 1em 2em 1em 4em;
    /*line-height: 3em;*/
    border-radius: 2em;
    min-width: 300px;
    background-image: url(../icons/green/mail.svg);
    background-repeat: no-repeat;
    background-position: 1.5em center;
    color: @c_grey;
    text-align: left;
    .drop-shadow(0px, 1px, 30px, -3px, 0.15);

}


input[type=submit]
{
    background: @c_white;
    border: 1px solid @c_green;
    font-size: 0.8em;
    padding: 0 3em;
    line-height: 3em;
    border-radius: 2em;
    color: @c_green;
    background-repeat: no-repeat;
    background-position: 1.5em center;
    cursor: pointer;

    &:hover
    {
        background: @c_green_gradient;
        color: @c_white;
    }

}

blockquote
{
    position: relative;
    padding: 20px 0 0;
    margin: 2em 0;
    font-size: 1.125em;
    font-style: italic;

    &:before
    {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 0;
        height: 4px;
        width: 100%;
        max-width: 65px;
        border-radius: 4px;
        background-color: @c_green;
    }

    p
    {
        padding: 0;
    }
}

ul
{
    list-style-position: inside;
}


.btn
{
    line-height: 2.7em;
    padding: 0 2em;
    background: @c_white;
    display: inline-block;
    border-radius: 1.5em;
    font-size: 1.3em;
    color: @c_green;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid @c_green;

    &:hover
    {
        background: @c_green_gradient;
        color: @c_white;
    }

}
.btn-inverse
{
    line-height: 2.7em;
    padding: 0 4.3em;
    background: @c_green_gradient;
    display: inline-block;
    border-radius: 1.5em;
    font-size: 1.3em;
    color: @c_white;
    text-transform: uppercase;
    font-weight: 500;
    .drop-shadow(0px, 1px, 20px, -3px, 0.15);

    &:hover
    {
        background: @c_white;
        color: @c_green;
    }

}


.svg-icon
{
    display: block;
    font-size: 0;
    width: 24px;
    height: 24px;
    
    svg
    {
        display: block;
        width: 100%;
        height: auto;        
    }
}

.avatar
{
    overflow: hidden;
    margin: 0;
    width: 37px;
    height: 37px;
    min-width: 37px;
    min-height: 37px;
    border-radius: 50%;

    img
    {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.scarcity
{
    .flex-display();
    .align-items(center);
    color: currentColor;
    font-weight: 500;
    padding: 0;
    line-height: 1.3;

    .date-icon
    {
        width: 13px;
        height: 1em;
        min-width: 13px;
        min-height: 13px;
        margin-right: 10px;
        margin-top: -1px;
        font-size: 1em;
    }            
} 