.post-info
{
    .flex-display();
    color: @c_grey;

    .avatar
    {
        margin: 0;
    }  
    
    .date
    {
        .flex-display();
        .align-items(center);
        margin-top: 2px;
        margin: 0 14px 0 0;
        color: currentColor;
        line-height: 1.3;

        .date-icon
        {
            width: 13px;
            height: 13px;
            min-width: 13px;
            min-height: 13px;                        
            margin-right: 10px;
            margin-top: -1px;
        }
    }      
    
    .terms-list
    {
        padding-bottom: 0;
        display: inline-block;            
        margin: 0;
    }    
    
    .word-count
    {
        .flex-display();
        .align-items(center);
        color: currentColor;
        margin: 0 14px 0 0;

        .watch-icon
        {
            width: 12px;
            height: 19px;
            margin-right: 10px;
        }

        > div
        {
            white-space: nowrap;
        }
    }
    
    .scarcity
    {
        margin-top: 2px;
        margin: 0 14px 0 0;    
    } 
    
    &.singleline
    {
        /*margin-bottom: 1.5em;*/
        .flex-wrap(wrap);
        
        .info
        {
            .flex-display();
            .align-items(center);
            .flex-wrap(wrap);
            color: @c_green;
        }
        
        .author
        {
            .flex-display();
            .align-items(center);
            margin-right: 14px;
            margin-bottom: 14px;
            
            .avatar
            {
                margin-right: 10px;                
            }
            
            .author-name
            {
                display: block;
            }
        }
        
        .date
        {
            .flex-display();
            .align-items(center);
            margin-bottom: 14px;
            
            .author-name
            {
                display: block;
                margin-left: 14px;
            }
        }
        
        .word-count
        {            
            > div
            {
                white-space: normal;
            }
        }
        
        .word-count,
        .scarcity
        {            
            margin-bottom: 14px;
        }
        
        .terms-list
        {
            .flex-display();
            .align-items(center);  
            .flex-wrap(wrap);          
            padding: 0;
            margin-bottom: 14px;
        }
    }
    
    &.multiline
    {
        .align-items(flex-start);
        margin: 1.75em 0 0;        
        
        .info
        {
            margin: 0 0 0 14px;

            @media @phone
            {
                margin: 4px 0 0 14px;
            }

            .author-name
            {
                margin-bottom: 2px;                    
                padding: 0;
                font-weight: normal;
                color: currentColor;
            }

            .details
            {
                .flex-display();
                .align-items(flex-start);    

                @media @tablet
                {
                    .flex-wrap(wrap);
                }                
            }
            
            .date
            {
                margin-bottom: 10px;
            }                 
        }
        
        .terms-list
        {
            margin-bottom: 10px;
        }    

        .word-count
        {
            margin-bottom: 10px;
        }

        .scarcity
        {
            margin-bottom: 10px;           
        }         
    }    
}