.promobox
{
    position: relative;
    height: 450px;

    @media @tablet
    {
        height: auto;
    }

    .info
    {
        position: absolute;
        left: 0;
        width: 350px;
        top: 80px;

        @media @tablet
        {
            position: relative;
            top: 0;
            opacity: 1 !important;
            .scale(1) !important;
            padding-bottom: 30px;
        }

        h3
        {
            font-size: 1.73em;
            font-weight: 500;
        }
    }

    .posts
    {
        position: relative;

        @media @tablet
        {
            height: 320px;
        }

        .posts-list-content
        {
            position: realtive;
            width: auto;
            white-space: nowrap;
            left: 0;
            top: 0;
            padding: 0;
            padding-left: 400px;
            text-align: left;

            @media @tablet
            {
                padding-left: 0;
                padding-top: 2em;
            }

            /*
            @media @tablet
            {
                overflow-x: auto;
                width: 100%;
            }*/
            /*
            .all-promotions
            {
                position: absolute;
                top: calc(~"100% + 0.25em");
                right: 2em;
            }            
            */
            
            .post-item
            {
                display: inline-block;
                position: relative;
                overflow: hidden;
                padding: 0;
                transition: all @transition_speed*2 ease;
                width: 333px;
                height: 268px;

                &:last-of-type
                {
                    padding: 0;
                    margin: 0;
                }

                &.hide
                {
                    width: 0;
                    opacity: 0;
                    pointer-events: none;
                    /*overflow: hidden;*/
                }
                /*
                &:first-child
                {
                    margin-left: 400px;

                    @media @tablet
                    {
                        margin-left: 0;
                    }
                }
                */
                
                &.all-promotions
                {
                    width: 200px;
                    
                    .item-content
                    {
                        width: 100%;
                        position: absolute;                      
                        a
                        {
                            
                            .flex-display();
                            .align-items(center);
                            .justify-content(center);
                            width: 100%;
                            position: relative;
                            height: auto;
                            height: 100%;
                            right: 0;
                            top: 0;
                            padding: 10px;
                            background-color: @c_white;
                            text-align: center;
                            z-index: 1;   
                        }
                    }
                }
                
                .item-content
                {
                    height: 100%;
                    
                    a
                    {
                        display: block;
                        height: 100%;

                        .title
                        {
                            position: absolute;
                            bottom: 2em;
                            color: @c_white;
                            left: 1em;
                            font-size: 1.16em;
                            line-height: 1.4em;
                            font-weight: 500;
                            white-space: normal;
                            width: 300px;
                            text-shadow: 1px 0 1px rgba(0,0,0,0.3);
                            
                            &:last-child
                            {
                                padding-bottom: 0;
                                bottom: 1.5em;
                            }

                            &:before
                            {
                                height: 3px;
                                width: 20%;
                                border-radius: 13px;
                                content: "";
                                margin-bottom: 14px;
                                display: block;
                                background: @c_lightestgrey;
                            }
                        }

                        .time
                        {
                            position: absolute;
                            bottom: 0.4em;
                            color: @c_white;
                            left: 0;
                            right: 0;
                            font-size: 0.7em;
                            font-weight: 500;
                            white-space: normal;
                            width: 300px;
                            z-index: 2;
                            margin: 0 auto;
                            padding-left: 20px;
                            line-height: 2em;

                            &:before
                            {
                                height: 16px;
                                width: 16px;
                                content: "";
                                display: block;
                                background-image: url(../icons/whitecalendar.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                            }
                        }

                        .image
                        {
                            margin: 0;
                            font-size: 0;
                            height: 100%;
                            position: relative;

                            &:before
                            {
                                position: absolute;
                                content: "";
                                left: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(0,0,0,0.3);
                                z-index: 1;
                            }

                            img
                            {
                                position: absolute;
                                min-width: 101%;
                                width: auto;
                                height: auto;
                                left: 50%;
                                top: 0;
                                .translateX(-50%);
                            }
                        }
                    }
                }

            }
        }
    }

    .filters
    {
        position: absolute;
        left: 400px;
        top: -30px;
        cursor: pointer;
        z-index: 9;

        @media @tablet
        {
            /*position: relative;*/
            display: inline-block;
            left: 0 !important;
            top: -30px;
        }

        .value
        {
            padding-left: 2em;

            @media @tablet
            {
                /*float: left;*/
            }
            &:before
            {
                width: 1.5em;
                height: 1.5em;
                position: absolute;
                left: 0;
                top: -2px;
                content: "";
                background-image: url(../icons/grey/list.svg);
                background-size: contain;
            }
        }
        ul
        {
            display: none;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            .translate(-20%, -20%);
            list-style: none;
            font-size: 1.3em;
            background: @c_white;
            border-radius: 0.5em;
            .drop-shadow(0px, 1px, 30px, -3px, 0.15);
            padding: 0;
            margin: 0 auto;
            width: 250px;
            
            @media @tablet
            {
                .translate(0, 0);
            }
            
            
            
            li
            {
                text-align: left;
                padding: 0 3em;
                border-top: 1px solid @c_lightgrey;
                line-height: 2.5em;
                background-image: url(../icons/green/square.svg);
                background-repeat: no-repeat;
                background-position: 14px center;


                &:first-child
                {
                    border-top: none;
                }

                &:hover
                {
                    color: @c_green;
                }

                &.active
                {
                    background-image: url(../icons/green/check-square.svg);
                }
            }
        }
    }

    .links
    {
        position: absolute;
        background: @c_white;
        .drop-shadow(0px, 1px, 30px, -3px, 0.15);
        z-index: 9;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 65em;

        @media @tablet
        {
            width: 90%;
            position: relative;
        }

        @media @phone
        {
            box-shadow: none;
            text-align: center;
        }

        ul
        {
            list-style: none;
            font-size: 0;
            li
            {
                width: 182px;
                /*height: 182px;*/
                font-size: 14px;
                display: inline-block;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                @media @tablet
                {
                    width: 20%;
                    height: 20%;
                }

                @media @phablet
                {
                    width: 50%;
                    height: 15%;
                }
                a
                {
                    display: block;
                    /*position: absolute;*/
                    width: 100%;
                    height: 100%;
                    color: @c_grey;
                    padding-top: 140px;
                    padding-bottom: 28px;
                    line-height: 1;

                    @media @tablet
                    {
                        padding-top: 77%;
                        padding-bottom: 15%;
                    }

                    @media @phablet
                    {
                        position: relative;
                        padding-top: 65%;
                        padding-bottom: 8%;                        
                    }

                    &:hover
                    {
                        background: @c_green_gradient;
                        color: @c_white;
                    }

                    &:before
                    {
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 38.5%;
                        height: 38.5%;
                        background-size: contain;
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 5em;
                        margin: auto;


                        @media @tablet
                        {
                            width: 50%;
                            height: 50%;
                            bottom: 35%;
                        }

                        @media @phablet
                        {
                            height: 60%;
                            width: 40%;
                        }

                        @media @phone
                        {
                            height: 60%;
                            width: 40%;
                        }
                    }
                }

                &.credits a:before { background-image: url(../icons/credits.svg);}
                &.loans a:before { background-image: url(../icons/loans.svg);}
                &.investments a:before { background-image: url(../icons/investments.svg);}
                &.insurances a:before { background-image: url(../icons/insurances.svg);}
                &.savings a:before { background-image: url(../icons/savings.svg);}

                &.credits a:hover:before { background-image: url(../icons/credits_white.svg);}
                &.loans a:hover:before { background-image: url(../icons/loans_white.svg);}
                &.investments a:hover:before { background-image: url(../icons/investments_white.svg);}
                &.insurances a:hover:before { background-image: url(../icons/insurances_white.svg);}
                &.savings a:hover:before { background-image: url(../icons/savings_white.svg);}
            }
        }
    }

    .drag
    {
        position: absolute;
        right: 0;
        top: -30px;

        @media @tablet
        {
            float: right;
            top: 0;
        }
        &:before
        {
            position: absolute;
            height: 3px;
            width: 80px;
            border-radius: 13px;
            content: "";
            margin-bottom: 14px;
            display: block;
            background: @c_green_gradient;
            left: -100px;
            top: 7px;
            @media @phablet
            {
                display: none;
            }
        }
    }
}