.share
{
    font-size: 0;
    padding: 1rem 0 ;
    
    .share-text,
    .links
    {
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
    }
    
    .share-text
    {
        font-size: 1rem;
        padding-right: 2em;
    }
    
    .links
    {        
        a
        {
            display: inline-block;
            vertical-align: top;
            font-size: 1rem;
            padding-right: 2em; 
            
            &:last-of-type
            {
                padding-right: 0;                
            }
        }
    }
}