.ui-widget.ui-widget-content.ui-slider
{
	border: none;
	background: @c_lightgrey;
	height: .3em;
    margin-bottom: 0.5em;

	&.ui-slider-horizontal
	{
		.ui-slider-range
		{
			background: @c_green;
		}

		.ui-slider-handle
		{
			border: 0.2em solid @c_green;
			background: @c_white;
			border-radius: 50%;
			height: 1.2em;
			width: 1.2em;
			top: -.4em;
            
            box-shadow: 0 1px 6px 0 rgba(28, 144, 31, 0.5);
		}
	}
}

.slider
{
	&:after
	{
		content: "";
		clear: both;
		display: block;
	}
	.range-max
	{
		float: right;
	}
	.range-min
	{
		float: left;
	}
}